.App {
  margin: 0;
  background-color: rgb(238, 238, 238);
}

.Header {
  background-color: #282c34;
  height: 1.5em;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  color: white;
}

.Nav {
  background-color: #282c34;
  height: 2em;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  font-size: 15px;
  color: white;
}

a {
  padding-right: 2em;
  text-decoration: none;
  text-transform: capitalize;
}

a:visited {
  color: rgb(199, 199, 199);
}

h2 {
  text-align: center;
  font-size: 2em;
  padding: 0.5;
}

.Review {
  list-style: none;
  text-align: center;
}

.Review-Img {
  max-height: 200px;
  max-width: 200px;
}
